<app-menu></app-menu>
<div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">
    <div class="col-lg-7 col-xl-8 p-0 bg-gredient">
      <div class="p-24 h-100">
        <a href="/dashboards/dashboard1" class="ng-star-inserted">
          <img src="./assets/images/logos/logo-dark.jpg" alt="logo" class="align-middle m-2" style="width: 10%; max-width: 600px;">
        </a><!----><!---->
        <div class="align-items-center justify-content-center img-height d-none d-lg-flex">
          <img src="/assets/images/backgrounds/login-bg.jpg" alt="login" style="width: 100%; max-width: 600px;">
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-xl-4 p-0">
      <div class="p-32 d-flex align-items-start align-items-lg-center justify-content-center h-100">
        <div class="row justify-content-center w-100"><div class="col-lg-9 max-width-form">
          <h4 class="f-w-700 f-s-24 m-0">Bienvenido a NotiRiv</h4>
          <span class="d-block f-w-500 d-block m-t-10">
            New to NotiRiv?
            <a class="text-decoration-none text-accent f-w-500 f-s-14" routerLink="/login">
              Iniciar Sesión
            </a>
          </span>
          <br>
          <div class="card-body">
            <form #f="ngForm" (ngSubmit)="onSendEmail()" novalidate>
              <div class="form-group text-center">
                <label class="text-info">Te enviaremos un correo para recuperar la contraseña</label>
                <input type="text" name="mailTo" id="mailTo" class="form-control"
                       [(ngModel)]="mailTo" placeholder="Nombre de Usuario o Email" required>
              </div>

              <div class="form-group">
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid" type="submit">
                  <i class="fas fa-sign-in-alt"></i> Enviar Correo</button>
              </div>
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
